.content {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.profile-pic, .text {
  flex: 1 1 auto;
}

.welcome-message {
  max-width: 80ch;
}

@media screen and (min-width: 650px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}