.navbar {
  flex: auto;
}

.navbar-ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: space-around;
  margin-inline: 0;
  margin-block: 5px;
  padding: 0;
}

.navbar-navlink {
  background-color: #cccccc;
  padding-block: 10px;
  padding-inline: 10px;
  text-decoration: none;
}