.navbar {
  flex: auto;
}

.navbar-ul {
  display: flex;
  list-style-type: none;
  gap: 8px;
  justify-content: flex-end;
  margin-inline: 0;
  margin-block: 5px;
  padding: 0;
}

.navbar-navlink {
  background-color: var(--secondary-color);
  padding-block: 10px;
  padding-inline: 8px;
  text-decoration: none;
  border-radius: 10px;
}

.navbar-navlink:hover, .navbar-navlink:focus {
  border-bottom: 5px solid var(--text-color);
}